@use "variables" as vars;

$content-padding: 15px;

@mixin scrollbars($size: 10px,
    $foreground-color: #999,
    $background-color: #333) {

    // For Chrome & Safari
    &::-webkit-scrollbar {
        width: $size;
        height: $size;
    }

    &::-webkit-scrollbar-thumb {
        background: $foreground-color;
    }

    &::-webkit-scrollbar-track {
        background: $background-color;
    }

    // Standard version (Firefox only for now)
    scrollbar-color: $foreground-color $background-color;
}

.outer-container{
    display: flex;
    justify-content: center;

    @media only screen and (max-width: vars.$max-width-bp) {
        height: 100%;
    }
}

.container {
    $top-padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: $top-padding;
    flex-direction: column;

    @media only screen and (max-width: vars.$max-width-bp) {
        // subtract the top padding to prevent scrolling
        height: calc(100% - $top-padding);
        width: 100%;
    }
}

.content {
    @include scrollbars(3px, rgb(156, 156, 156), rgb(233, 233, 233));
    border: 1px solid rgb(210, 219, 221);
    border-radius: 5px;
    max-width: 400px;
    width: calc(100% - 2 * $content-padding - 2px);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    padding: $content-padding;

    overflow: auto;

    @media only screen and (max-width: vars.$max-width-bp) {
        flex: 1;
        border-left: none;
        border-right: none;
    }

    @media only screen and (min-width: vars.$max-width-bp) {
        min-height: 600px;
        max-height: 800px;
    }
}

.list {
    padding: 5px;
}

.swipeable {
    display: flex;
    align-items: center;
    position: relative;

    // HACK: limit hammerjs detection to y axis only
    // https://medium.com/developer-rants/what-to-do-when-hammerjs-is-blocking-scrolling-on-mobile-9f79b460ac84
    touch-action: pan-y !important;
}

.done {
    text-decoration: line-through;
}

.item:not(:last-child) {
    border-bottom: 1px solid rgb(145, 146, 148);
}

.avatar {
    border: 1px solid vars.$ui-raised-border;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
}

.header-footer {
    margin-top: 5px;
    margin-left: 5px;
    max-width: 440px;
    width: calc(100% - $content-padding);

    @media only screen and (max-width: vars.$max-width-bp) {
        max-width: 400px;
    }
}

// recommendations hint (mobile only)
.recommend-container{
    display: flex;
    justify-content: flex-start;
}

.recommend-ripple-container{
    line-height: 40px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.recommend-hint{
    margin-right: 5px;
}

// recommendations panel
.panel-header{
    margin-top: 65px;
    .title{
        border-bottom: thin solid;
    }
}

.panel-container{
    margin-left: 20px;

}

.title {
    font-weight: 200;
    font-size: 18px;
}

.header {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
}

.spacer {
    flex: 1;
}

.toolbar-button {
    margin-right: 10px;
}

.add-form {
    display: flex;

    mat-form-field:not(:last-child) {
        margin-right: 3px;
    }
}

.add-button{
    margin-top: 5px;
}

.connection-info {
    display: flex;
    align-items: center;
    flex-direction: column;

    mat-icon {
        $size: 128px;
        font-size: $size;
        height: $size;
        width: $size;
        opacity: 0.65;
    }
}

.hide-complete{
    opacity: 0.3;
}