@use '@angular/material' as mat;
@use "theme" as theme;


@include mat.all-component-typographies();
@include mat.core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes(theme.$theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// hide scrollbar in autocomplete
.mat-mdc-autocomplete-panel{
    scrollbar-width: none;
}