@mixin scrollbars(
  $size: 10px,
  $foreground-color: #999,
  $background-color: #333
) {
  // For Chrome & Safari
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }
  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }
  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // Standard version (Firefox only for now)
  scrollbar-color: $foreground-color $background-color;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    flex-direction: column;
    @media only screen and (max-width: 600px) {
        height: 100%;
    }
}

.content{
    @include scrollbars(3px, rgb(156, 156, 156), rgb(233, 233, 233));
    border: 1px solid rgb(210, 219, 221);
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    padding:20px;
    
    overflow: auto;

    @media only screen and (max-width: 600px) {
        flex: 1;
    }

    @media only screen and (min-width: 600px) {
        min-height: 600px;
        max-height: 800px;
    }
}

.list{
    padding: 5px;
}

.item{
    font-size: 20px;
    color: rgb(126, 146, 160);
    padding-bottom: 10px;
}

.swipeable{
    display: flex;
    align-items: center;
    position: relative;
}

.done{
    text-decoration:line-through;
}

.item:not(:last-child){
    border-bottom: 1px solid rgb(145, 146, 148);
}

.item:not(:first-child){
    margin-top:10px;
}

.avatar{
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
}

.item-info{
    flex:1;
}

.item-hint{
    font-size: 12px;
}

.item-header{
    color: rgba(0, 0, 0, 0.87);
}

.header-footer{
    margin-top: 5px;
    margin-left: 15px;
    max-width: 440px;
    width: 100%;
    @media only screen and (max-width: 600px) {
        max-width: 400px;
    }
}


.title{
    font-weight: 200;
    font-size: 18px;
}

.header{
    padding-top: 5px;
    padding-bottom: 5px;
}

.add-form {
    display: flex;
    mat-form-field:not(:last-child){
        margin-right: 3px;
    }
}