@use '@angular/material' as mat;
@use 'theme' as t;

$ui-accent: mat.get-color-from-palette(t.$theme-accent);
$ui-primary: mat.get-color-from-palette(t.$theme-primary);
$background: map-get(t.$theme, background);
$foreground: map-get(t.$theme, foreground);
$background-color: mat.get-color-from-palette($background, background);
$background-primary-color: mat.get-color-from-palette($background, primary);
$foreground-text-color: mat.get-color-from-palette($foreground, text);
$ui-raised-border: mat.get-color-from-palette($foreground, divider);

// breakpoint
$max-width-bp: 600px;

// max content with in desktop mode
$max-content-width: 1024px;

// content padding
$content-padding: 15px;