<h2 mat-dialog-title>Create Shopping List</h2>
<form [formGroup]="formGroup" (ngSubmit)="onCreate()">
  <mat-form-field class="full-width">
    <mat-label>Shopping List Name</mat-label>
    <input matInput formControlName="name" />
    <mat-error *ngIf="formGroup.controls['name'].hasError('required')">
      Name is required
    </mat-error>
    <mat-error *ngIf="formGroup.controls['name'].hasError('maxlength')">
      Name must be at most 50 characters
    </mat-error>
    <mat-error *ngIf="formGroup.controls['name'].hasError('notUnique')">
      Name already exists
    </mat-error>
  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" type="button">Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!formGroup.valid">Create</button>
  </div>
</form>
