<div class="header-row">
    <div class="spacer"></div>
    <div class="mat-title">
        lassi.net MPSL
    </div>
    <div class="spacer"></div>
</div>
<div [app-loading]="isLoading|async">
    <div class="content-container">
        <div class="spacer"></div>

        <div class="content">

            <div class="info-container">
                <h1 class="welcome mat-h1">Welcome to lassi.net multiplayer shopping lists!</h1>
                <p>
                    Create lists of reocurring things you need to get ie shopping lists. Share them with other people
                    you wan to participate.
                    All changes will show up instantly on all devices.
                </p>
            </div>

            <h3>Your lists:</h3>

            <div *ngFor="let item of shoppingLists" routerLink="/list/{{item.id}}" class="list-item">
                {{item.name}}
            </div>
        </div>

        <div class="spacer"></div>
    </div>
</div>