@use "variables" as vars;

@mixin scrollbars($size: 10px,
    $foreground-color: #999,
    $background-color: #333) {

    // For Chrome & Safari
    &::-webkit-scrollbar {
        width: $size;
        height: $size;
    }

    &::-webkit-scrollbar-thumb {
        background: $foreground-color;
    }

    &::-webkit-scrollbar-track {
        background: $background-color;
    }

    // Standard version (Firefox only for now)
    scrollbar-color: $foreground-color $background-color;
}


.header-footer {
    margin-top: 5px;
    margin-left: 5px;
    max-width: 440px;
    width: calc(100% - vars.$content-padding);

    @media only screen and (max-width: vars.$max-width-bp) {
        max-width: 400px;
    }
}

.header {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
}

.toolbar-button {
    margin-right: 10px;
}

.title {
    font-weight: 200;
    font-size: 18px;
}

.spacer {
    flex: 1;
}

// content container
.container {
    $top-padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: $top-padding;
    flex-direction: column;

    @media only screen and (max-width: vars.$max-width-bp) {
        // subtract the top padding to prevent scrolling
        height: calc(100% - $top-padding);
        width: 100%;
    }
}

.content {
    @include scrollbars(3px, rgb(156, 156, 156), rgb(233, 233, 233));
    border: 1px solid rgb(210, 219, 221);
    border-radius: 5px;
    max-width: 400px;
    width: calc(100% - 2 * vars.$content-padding - 2px);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    padding: vars.$content-padding;

    overflow: auto;

    @media only screen and (max-width: vars.$max-width-bp) {
        flex: 1;
        border-left: none;
        border-right: none;
    }

    @media only screen and (min-width: vars.$max-width-bp) {
        min-height: 600px;
        max-height: 800px;
    }
}
