<div mat-dialog-content class="content-container">
  <form class="form-container" [formGroup]="this.formGroup" (ngSubmit)="save()">
    <mat-form-field class="full-width">
      <input matInput formControlName="name" class="input-name">
      <mat-error *ngIf="formGroup.controls['name'].hasError('maxlength')">
        <strong>Name</strong> must not be longer than
        <strong>{{formGroup.controls['name'].errors["maxlength"].requiredLength}}</strong> characters
      </mat-error>
      <mat-error *ngIf="formGroup.controls['name'].hasError('required')">
        <strong>Name</strong> is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Hint</mat-label>
      <input matInput formControlName="hint">
      <mat-error *ngIf="formGroup.controls['hint'].hasError('maxlength')">
        <strong>Hint</strong> must not be longer than
        <strong>{{formGroup.controls['hint'].errors["maxlength"].requiredLength}}</strong> characters
      </mat-error>
    </mat-form-field>

    <div class="flex-row">
      <mat-form-field style="flex:1; margin-right:5px">
        <mat-label>Amount</mat-label>
        <input matInput formControlName="amount" cdkFocusInitial>
        <mat-error *ngIf="formGroup.controls['amount'].hasError('min')">
          <strong>Amount</strong> must be at least
          <strong>{{formGroup.controls['amount'].errors["min"].min}}</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field style="max-width: 50px;">
        <mat-label>Unit</mat-label>
        <input matInput formControlName="unitShortName">
        <mat-error *ngIf="formGroup.controls['unitShortName'].hasError('maxlength')">
          {{formGroup.controls['unitShortName'].errors["maxlength"].actualLength + '/' +
          formGroup.controls['unitShortName'].errors["maxlength"].requiredLength}}
        </mat-error>
      </mat-form-field>
    </div>

    <div mat-dialog-actions class="flex-row">
      <div class="button-container">
        <div [@flyInOut]="flyInOut" class="slider">
          <button mat-icon-button (click)="flyInOut = 'out'" type="button" aria-label="Remove from list or delete">
            <mat-icon>delete</mat-icon>
          </button>
          <div class="spacer"></div>
          <button mat-button (click)="onNoClick()">Cancel</button>
          <button mat-button color="primary" type="submit" [disabled]="!formGroup.valid">OK</button>
        </div>
        <div [@flyOutIn]="flyInOut" class="slider" style="left: -150%">
          <div class="confirm">
            <mat-error>Are you sure?</mat-error>
          </div>
          <button mat-button (click)="flyInOut = 'in'" type="button">Cancel</button>
          <div class="spacer"></div>
          <button mat-button (click)="onDeleteClick()" color="warn" type="button">Delete</button>
          <button mat-button (click)="onRemoveClick()" color="primary" type="button" >Remove</button>
        </div>
      </div>
    </div>
  </form>