.full-width {
    width: 100%;
}

.content-container{
    //height: 260px;
    overflow: hidden;
}

.input-name{
    font-weight: 100;
    font-size: xx-large;
}

.flex-row {
    display: flex;

    .spacer{
        flex:1;
    }
    button[mat-button]{
        width: 100px;
    }
    button[mat-raised-button]{
        width: 100px;
    }
}

.slider{
    display: flex;
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    margin-top: 10px;
    align-items: center;
}

.confirm{
    position: absolute;
    top:-24px;
}